{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}adidascourt{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/adidas court alpha.png'%}" class="d-block w-100" alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/c_alpha2 (2).png'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/c_alpha2 (1).png'%}" class="d-block w-100" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Adidas Court Alpha</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$67.990</h3>{% endblock %}
{% block desczapa %}<h4>Estas zapatillas de la marca adidas son una respuesta clásica para el futuro, inspiradas en el tenis y diseñadas para envolver tus pies en una silueta clásica. Son ideales para explorar tu propia individualidad.</h4>{% endblock %}
{% block cantzapa %}<p>Stock:8</p>{% endblock %}