{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}adidasedge{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/adidas edge lux 2.jpg'%}" class="d-block w-100" alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/zapatillas-adidas-edge-lux-2.jpg'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/zapatillas-adidas-edge-lux-2 (1).jpg'%}" class="d-block w-100" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Adidas Edge Lux 2</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$69.990</h3>{% endblock %}
{% block desczapa %}<h4>Consigue tus objetivos marcados con un diseño cómodo y flexible. Esta zapatilla de running se ha confeccionado con una horma específica para mujer que se adapta a tu pisada, incorpora la tecnología BOUNCE</h4>{% endblock %}
{% block cantzapa %}<p>Stock:6</p>{% endblock %}