{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}adidasforum{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/bad3.png'%}" class="d-block w-100 " alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/bad2.png'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/bad1.png'%}" class="d-block w-100 " alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Adidas Forum Low Bad Bunny Pink Easter Egg</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$600.000</h3>{% endblock %}
{% block desczapa %}<h4>Las Adidas Forum Low Bad Bunny Pink Easter Egg son unas zapatillas deportivas diseñadas en colaboración con el artista urbano Bad Bunny. Estas zapatillas presentan un estilo único y llamativo con un color rosa intenso y detalles en tonos pastel.
        El diseño cuenta con una parte superior de cuero de primera calidad, una lengüeta acolchada y un cierre de cordones para un ajuste seguro y cómodo. La suela de goma de alta calidad proporciona tracción y durabilidad.
        Además, estas zapatillas incluyen algunos detalles adicionales que las hacen destacar aún más. En la lengüeta se encuentra un huevo de Pascua en relieve, en referencia a la edición limitada de Pascua, y en la parte posterior se encuentra el icónico logo de Bad Bunny.</h4>{% endblock %}
{% block cantzapa %}<p>Stock:1</p>{% endblock %}
