{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}adidascsmash{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/courtsmash.png'%}" class="d-block w-100" alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/coutsmash2.png'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/courtsmash3.png'%}" class="d-block w-100" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Adidas Courtsmash</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$44.990</h3>{% endblock %}
{% block desczapa %}<h4>Estas zapatillas tienen un diseño ligero perfecto para devolver saques complicados. Diseñadas para tenistas aficionados, incorporan un exterior de cuero sintético resistente al desgaste.</h4>{% endblock %}
{% block cantzapa %}<p>Stock:4</p>{% endblock %}