{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}nikeairf{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/airfoce1.png'%}" class="d-block w-100  " alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/airfoce2.png'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/airfoce3.png'%}" class="d-block w-100" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Nike Air Force 1</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$126.990</h3>{% endblock %}
{% block desczapa %}<h4>El fulgor vive en el Nike Air Force 1 , el modelo original de básquetbol que da un toque novedoso a las características más recordadas: revestimientos con costuras duraderas, acabados impecables.</h4>{% endblock %}
{% block cantzapa %}<p>Stock:50</p>{% endblock %}