{% extends 'menu/plant_menuusu.html'%}
{% load static %}

{% block titulo %} carrito {% endblock %}

  
           {% block relleno %}
           <div class="container w-75 bg-light mt-5 rounded shadow rounded-end p-5" style="position:relative; top:70px;"
           >
             <div class="row align-items-stretch">
               
                 <div class="text-end" >
                    
                 </div>
     
                 <div class="d-flex  justify-content-center my-n2">
        
                    <img src="img/logo.png" class="img-fluid my-n1" style="position:relative; top:-50px;" alt="" width="250">
                  </div>
                 <h1 class="fw-bold text-center py-n5" style="position:relative; top:-50px;"> Carro </h1>
                  <h2>Top Sneakers</h2>
                  {% include "carro/widget.html" %}
                </div>
     
             </div>
           </div>
           {% endblock %}
                            
          
        
          
          