{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/iniciosesion.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/fondo.css">
    <link rel="stylesheet" href="css/tablas.css">
    <title>Envio y pago</title>
</head>
<body>
            <!-- menu -->
            <nav class="navbar navbar-expand-md navbar-light  fixed-top">
                <div class="container container-color ">
                  <a href="test.html" style="color: rgb(173, 6, 6);" class="navbar-brand"><span >TOP<img src="img/iconozapa.png" height="20px" width="20px" alt=""></span><h5 class="h5-fo1">SNEAKERS</h5>
                          
                         
                  </a>
                  
                  <button class="navbar-toggler " 
                   data-bs-toggle="collapse" 
                   data-bs-target="#mainNav" 
                   aria-controls="mainNav"
                   aria-expanded="false" 
                   aria-label="toggle navigation">
                          <span style="color: rgb(173, 6, 6);" class="icon-menu "></span>
                  </button>
                 <div class="collapse navbar-collapse " id="mainNav">
                          <ul class="navbar-nav ms-auto mb-2 mb-md-0 "style="position: relative;">
                                  <li >
                                          
                                          <div class="buscar">
                                                  <input type="text" placeholder="Buscar" required />
                                            
                                                  <div class="btn btn-1">
                                                    <i  class="fas fa-search icon-search "></i>
                                                  </div>
                                          </div>                  
                                  </li>
                                  <li>
                                          <div>
                                                  <a href="carrito.html" class="nav-link a1 " ><img src="img/carrito.png" alt="carrito" height="15px" width="20px"></i></a>
                                          </div>
                                 </li> 
                                  <li >
                                           <a href="test.html" class="nav-link a1">INICIO</a>
                                  </li>
                                  <li >
                                          <a href="productos.html" class="nav-link a1">PRODUCTOS</a>
                                          
                                 </li>
                                 <li >
                                           <a href="contactanos.html" class="nav-link a1">CONTACTO</a>
                                                  
                                  </li> 
                                  <li >
                                          <a href="sobrenosotros.html" class="nav-link a1">SOBRE NOSOTROS</a>
                                 </li>  
                                            
                                 <li>             
                                          <div>
                                                <a href="perfil.html" class="nav-link a1">CUENTA</a>  
                                          </div>
                                 </li>  
                          </ul>
                
               
                  </div>
                </div>
          </nav>
          <footer class=" text-lg-start">
                
                <div class="container-fluid p-4 cont-foot">
                  
                  <div class="row">
                    
                    <div class="col-sm-12 mb-4 mb-md-0 colorin">
                      <h3 style="font-family: 'Courier New', Courier, monospace;" class="text-center">Gracias por ver</h3>
              
                      <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >
                        MENSAJES DE LOS CREADORES:
                        <br>
                        SIGAN EN TWITCH :
                        <a href="https://www.twitch.tv/arohbknight"> AROHBKNIGHT</a>
                        <br>
                        CRISTOBAL: Xd
                        <br>
                        SEBA: Borrenme el lol porfavor
                      </p>
                    
                    
                </div>
              
                
                <div class="text-center p-3" style="border: 2px solid rgb(173, 6, 6);background-color: rgb(177, 177,177 );" >
                  © 2023 Copyright :
                  <br>
                  <a href="test.html" style="color: rgb(173, 6, 6);" class="navbar-brand"><span >TOP<img src="img/iconozapa.png" height="20px" width="20px" alt=""></span><h5 class="h5-fo1">SNEAKERS</h5>
                        
                       
                  </a>
                </div>
                </div>
                 
                </div>   
        </footer> 
</body>
</html>