{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'menu/img/jordanicon.png' %}">
    <link rel="stylesheet" href="{% static 'menu/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/fontello.css' %}">
    <title>Inicio de sesion</title>

</head>
<body>

   <div class="container w-75 bg-light mt-5 rounded shadow rounded-end p-5"style="position:relative; top:70px;">
     <div class="row align-items-stretch">
       
      <div class="d-flex  justify-content-center my-n2">

         <img src="{% static 'menu/img/logo.png'%}" class="img-fluid my-n1" style="position:relative; top:-50px;" alt="" width="250">
       </div>
      <h1 class="fw-bold text-center py-n5" style="position:relative; top:-50px;"> Inicio de sesion </h1>
         <form action="#">
            <div class="mb-1">
               <label for="correo" class="form-label">Correo electronico</label>
               <input type="text" class="form-control" id="correo" name="correo">
            </div>
            <div class="mb-1">
               <label for="password" class="form-label">Contraseña</label>
               <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-2">
                <input type="checkbox" name="connected" class="form-check-input">
                <label for="connected" class="form-check-label">Recuerdame</label>
               </div>
               <div class="d-grid">
                  <input type="submit" onclick=" return entrar();" value="Iniciar sesion"> 
               </div>
               <div class="my-1">
                   <span>¿No tienes cuenta?</span> <a href="{% url 'registrarse'%}">Registrarse</a></span> <br>
                   <span><a href="{% url 'recuperar'%}">Recuperar contraseña</a></span>
                   <span><a href="{% url 'elegir'%}">Ingreso temporal</a></span>
               </div>
         </form>

        </div>
        <div class="col">

        </div>
     </div>
   </div>
   <footer class=" text-lg-start">
                
      <div class="container-fluid p-4 cont-foot sm-12 md-12 lg-6 xl-6">
        
        <div class="row">
          
          <div class="col-sm-12 md-12 lg-6 xl-6 mb-4 mb-md-0 colorin">
            <h3 style="font-family: 'Courier New', Courier, monospace;" class="text-center">Gracias por ver</h3>
    
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >
              MENSAJES DE LOS CREADORES:
              <br>
              JOSE :
              <a href="https://www.twitch.tv/arohbknight"> AROHBKNIGHT</a>
              <br>
              CRISTOBAL: Xd
              <br>
              SEBA: Borrenme el lol porfavor
            </p>
          
          
      </div>
    
      
      <div class="text-center p-3" style="border: 2px solid rgb(173, 6, 6);background-color: rgb(177, 177,177 );" >
        © 2023 Copyright :
        <br>
        <a href="" style="color: rgb(173, 6, 6);" class="navbar-brand"><span >TOP<img src="{% static 'menu/img/iconozapa.png' %}" height="20px" width="20px" alt=""></span><h5 class="h5-fo1">SNEAKERS</h5>
              
             
        </a>
      </div>
      </div>
       
      </div>   
</footer> 
<script src="{% static 'menu/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'menu/js/validaciones.js'%}"></script> 
</body>
</html>
