{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}nikejordan{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/jordan gris.png'%}" class="d-block w-100  " alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/smokelado.png'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/smokeatras.png'%}" class="d-block w-100" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Jordan 1 mid light smoke</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$170.000</h3>{% endblock %}
{% block desczapa %}<h4>El zapato cuenta con una puntera perforada, una parte superior suave de cuero con inserciones blancas sucesivas en la zona inferior y un tobillo con inserciones grises en el resto del zapato.</h4>{% endblock %}
{% block cantzapa %}<p>Stock:3</p>{% endblock %}