{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}nikejordanair{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/AIR JODAN 1 MID.png'%}" class="d-block w-100  " alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/aaaaaaaaaaaaaaaaaaaaa.png'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/famoso.png'%}" class="d-block w-100" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Jordan AIR 1 mid</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$102.000</h3>{% endblock %}
{% block desczapa %}<h4>Jordar air 1 mid, inspirada en el AJ1 original, esta edición de corte mid mantiene el look icónico que te encanta, y los colores selectos y el cuero impecable le dan una identidad distintiva.</h4>{% endblock %}
{% block cantzapa %}<p>Stock:12</p>{% endblock %}