{% extends 'menu/plant_admin.html'%}
{% load static %}
{% block titulo %}admin {% endblock %}
{% block relleno %}
        <div class="container dist1" >
        <div class="row "  > 
            <div class="col col sm-12 md-6 lg-6 xl-6">
              <div class="card h-100">
                <a href="{% url 'agadmin'%}"><img src="{% static 'menu/img/air jodan 1 acclimate.png'%}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h5 class="card-title">Agregar stock / modificar stock</h5>
                  <p class="card-text">Agregar stock de zapatillas correspondiente a la sucursal de su sesion.</p>
                  <a href="{% url 'admin'%}">a</a>
                </div>
              </div>
            </div>
            <div class="col sm-12 md-6 lg-6 xl-6">
              <div class="card h-100">
                <a href="{% url 'iniciosesion'%}"><img src="{% static 'menu/img/AIR JODAN 1 MID.png'%}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h5 class="card-title">SALIR DEL MODO ADMINISTRADOR</h5>
                  <p class="card-text">Abandonar la sesion de administrador.</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
          {% endblock %}   