{% extends 'menu/plant_admin.html'%}
{% load static %}
{% block titulo %}cuenta{% endblock %}
{% block relleno %}
      <div class="container">
      <div class="card text-center" style="position:relative; top:150px; ">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link a1" href="perfil.html">Mi cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link a1" href="privacidad.html">Privacidad y seguridad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link a1" href="histoordenes.html">Historial de ordenes</a>
              </li>


          </ul>
        </div>
        <div class="card-body">
          <form> 
            <div class="mb-1"> <h2>Mi cuenta</h2>
              <label for="rut" class="form-label">Rut</label>
              <input type="text" class="form-control" id="rut">
           </div>
                <div class="mb-1">
                  <label for="nombre" class="form-label">Nombre </label>
                  <input type="text" class="form-control"  id="nombre">
               </div>
               <div class="mb-1">
                <label for="apellido" class="form-label">Apellido </label>
                <input type="text" class="form-control"  id="apellido">
             </div>
                <br> 
                <input type="submit" onclick=" return confirmar();" value="Confirmar">
            </form>
      </div>
      
    </div>
  </div>
    {% endblock %}
    <script src="{% static 'menu/js/validaciones.js'%}"></script>
    