
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'menu/img/jordanicon.png' %}">
    <link rel="stylesheet" href="{% static 'menu/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/fontello.css' %}">
    
    <title>Producto</title>
</head>
<body>
         <!-- menu -->
         <nav class="navbar navbar-expand-md navbar-light  fixed-top">
          <div class="container container-color sm-12 md-12 lg-6 xl-6 ">
            <a href="{% url 'test'%}" style="color: rgb(173, 6, 6);" class="navbar-brand"><span >TOP<img src="{% static 'menu/img/iconozapa.png' %}" height="20px" width="20px" alt=""></span><h5 class="h5-fo1">SNEAKERS</h5>
                    
                   
            </a>
            
            <button class="navbar-toggler " 
             data-bs-toggle="collapse" 
             data-bs-target="#mainNav" 
             aria-controls="mainNav"
             aria-expanded="false" 
             aria-label="toggle navigation">
                    <span style="color: rgb(173, 6, 6);" class="icon-menu "></span>
            </button>
           <div class="collapse navbar-collapse " id="mainNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0 "style="position: relative;">
                            <li >
                                    
                                    <div class="buscar">
                                            <input type="text" placeholder="Buscar" required />
                                      
                                            <div class="btn btn-1">
                                              <i  class="fas fa-search icon-search "></i>
                                            </div>
                                    </div>                  
                            </li>
                            <li>
                                    <div>
                                            
                                            <a href="{% url 'carrito'%}" class="nav-link a1 " ><img src="{% static 'menu/img/carrito.png' %}" alt="carrito" height="15px" width="20px"></i></a>
                                        
                                    </div>
                           </li> 
                            <li >
                                     <a href="{% url 'test'%}" class="nav-link a1">INICIO</a>
                            </li>
                            <li >
                                    <a href="{% url 'productos'%}" class="nav-link a1">PRODUCTOS</a>
                                    
                           </li>
                           <li >
                                     <a href="{% url 'contactanos'%}" class="nav-link a1">CONTACTO</a>
                                            
                            </li> 
                            <li >
                                    <a href="{% url 'sobrenosotros'%}" class="nav-link a1">SOBRE NOSOTROS</a>
                           </li>  
                                      
                           <li>             
                                    <div>
                                          <a href="{% url 'perfil'%}" class="nav-link a1">CUENTA</a>  
                                    </div>
                           </li>  
                    </ul>
          
         
            </div>
          </div>
    </nav>
    <!-- menu -->
    <!-- MARCAS-->      
    <div  class="container-fluid sm-12 md-12 lg-6 xl-6">

      <div  class="row">
        <div class="col-sm-4 img"  >
          <a href="#"><img src="{% static 'menu/img/nike-log.jpg' %}" alt="" ></a>
          <p></p>
        </div>
        <div class="col-sm-4 img "   >
           <a href="#"><img src="{% static 'menu/img/adidas-log.jpg' %}" alt=""  ></a>
          <p></p>
        </div>
        <div class="col-sm-4 img ">
          <a href="#"><img src="{% static 'menu/img/puma-log.png' %}" alt="" ></a> 
          <p></p>
        </div>
      </div>
    </div>
      <div class="row">
    </div>
    <div class="row">

      
      {% for producto in productos %}
      
          <div class="col-md-3">
      
          <div class="card" >
      
              <img src="{{producto.imagen.url}}" class="card-img-top">
      
              <div class="card-body" style="text-align: center;">
      
                  <h7 class="card-title">{{producto.nombre}}</h7>
      
                  <p class="card-text">&nbsp;${{producto.precio_producto}}</p>

                  <p class="card-text"><br>{{producto.descripcion_producto}}</p>

                  <p class="card-text">Stock disponible<br>{{producto.stock_producto}}</p>
      
      
              </div> 
              
              <div class="card-footer text-center">
      
                  <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
      
              </div>
      
          </div><!--card que se cierra-->
          
        </div>
        {% endfor %}
  </div>
  
  
    <footer class=" text-md-start">
                
      <div class="container-fluid p-4 cont-foot sm-12 md-12 lg-6 xl-6 ">
        
        <div class="row">
          
          <div class="col-sm-12 md-12 lg-6 xl-6 mb-4 mb-md-0 colorin">
            <h3 style="font-family: 'Courier New', Courier, monospace;" class="text-center">Gracias por ver</h3>
    
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >
              MENSAJES DE LOS CREADORES:
              <br>
              SIGAN EN TWITCH :
              <a href="https://www.twitch.tv/arohbknight"> AROHBKNIGHT</a>
              <br>
              CRISTOBAL: Xd
              <br>
              SEBA: Borrenme el lol porfavor
            </p>
          
          
      </div>
    
      
      <div class="text-center p-3" style="border: 2px solid rgb(173, 6, 6);background-color: rgb(177, 177,177 );" >
        © 2023 Copyright :
        <br>
        <a href="{% url 'test'%}" style="color: rgb(173, 6, 6);" class="navbar-brand"><span >TOP<img src="{% static 'menu/img/iconozapa.png'%}" height="20px" width="20px" alt=""></span><h5 class="h5-fo1">SNEAKERS</h5>
              
             
        </a>
      </div>
      </div>
       
      </div>   
</footer> 
<script src="{% static 'menu/js/bootstrap.bundle.min.js' %}"></script>
      
</body>
</html>