{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/iniciosesion.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/fondo.css">
    <title>Producto</title>
</head>
<body>       <!-- menu -->
    <nav class="navbar navbar-expand-md navbar-light  fixed-top">
     <div class="container container-color ">
       <a href="#" style="color: rgb(173, 6, 6);" class="navbar-brand"><span >TOP<img src="img/iconozapa.png" height="20px" width="20px" alt=""></span><h5 class="h5-fo1">SNEAKERS</h5>
               
              
       </a>
       
       <button class="navbar-toggler " 
        data-bs-toggle="collapse" 
        data-bs-target="#mainNav" 
        aria-controls="mainNav"
        aria-expanded="false" 
        aria-label="toggle navigation">
               <span style="color: rgb(173, 6, 6);" class="icon-menu "></span>
       </button>
      <div class="collapse navbar-collapse " id="mainNav">
               <ul class="navbar-nav ms-auto mb-2 mb-md-0 "style="position: relative;">
                       <li >
                               
                               <div class="buscar">
                                       <input type="text" placeholder="Buscar" required />
                                 
                                       <div class="btn btn-1">
                                         <i  class="fas fa-search icon-search "></i>
                                       </div>
                               </div>                  
                       </li>
                       <li>
                               <div>
                                       <a href="carritoadmin.html" class="nav-link a1 " ><img src="img/carrito.png" alt="carrito" height="15px" width="20px"></i></a>
                               </div>
                      </li> 
                       <li >
                                <a href="inicioadmin.html" class="nav-link a1">INICIO</a>
                       </li>
                       <li >
                               <a href="productosadmin.html" class="nav-link a1">PRODUCTOS</a>
                               
                      </li>
                      <li >
                                <a href="contactosadmin.html" class="nav-link a1">CONTACTO</a>
                                       
                       </li> 
                       <li >
                               <a href="sobrenosotrosadmin.html" class="nav-link a1">SOBRE NOSOTROS</a>
                      </li>  
                                 
                      <li>             
                               <div>
                                     <a href="perfiladmin.html" class="nav-link a1">CUENTA</a>  
                               </div>
                      </li>
                      <li>             
                        <div>
                              <a href="menuadmin.html" class="nav-link a1">ADMIN</a>  
                        </div>  
               </ul>
     
    
       </div>
     </div>
</nav>
    <!-- menu -->
    <div class="row row-cols-1 row-cols-md-4 g-4" style="position:relative; top:150px; "> 
      <div class="col">
        <div class="card h-100">
         <a href="airforce.html"> <img src="img/airfoce1.png" class="card-img-top" alt="..."> </a>
          <div class="card-body">
            <h5 class="card-title">Nike air force 1</h5>
            <p class="card-text">$126.990<br>El fulgor vive en el Nike Air Force 1 ’07, el modelo original de básquetbol que da un toque novedoso a las características más recordadas: revestimientos con costuras duraderas, acabados impecables.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="jordanair1mid.html"><img src="img/AIR JODAN 1 MID.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Jordan AIR 1 mid</h5>
            <p class="card-text">$102.000<br>Jordar air 1 mid, inspirada en el AJ1 original, esta edición de corte mid mantiene el look icónico que te encanta, y los colores selectos y el cuero impecable le dan una identidad distintiva.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
        <a href="jordansmoke.html"> <img src="img/jordan gris.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Jordan 1 mid light smoke</h5>
            <p class="card-text">$170.000<br>El zapato cuenta con una puntera perforada, una parte superior suave de cuero con inserciones blancas sucesivas en la zona inferior y un tobillo con inserciones grises en el resto del zapato.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
        <a href="stayloyal.html"><img src="img/stay loyal 2.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Jordan stay loyal 2</h5>
            <p class="card-text">$132.900<br>Inspirado en generaciones de Jordan, este calzado es un collage de frescura. Los detalles de diseño recuperan décadas de calzado legendarias y rinden homenaje a la mítica carrera de MJ.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>

      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4" style="position:relative; top:150px; "> 
      <div class="col">
        <div class="card h-100">
          <a href="ad_1.html"><img src="img/adidas court alpha.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Adidas Court Alpha</h5>
            <p class="card-text">$67.990<br>Estas zapatillas de la marca adidas son una respuesta clásica para el futuro, inspiradas en el tenis y diseñadas para envolver tus pies en una silueta clásica. Son ideales para explorar tu propia individualidad.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="ad_2.html"><img src="img/adidas edge lux 2.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Adidas edge lux 2</h5>
            <p class="card-text">$69.990<br>Consigue tus objetivos marcados con un diseño cómodo y flexible. Esta zapatilla de running se ha confeccionado con una horma específica para mujer que se adapta a tu pisada, incorpora la tecnología BOUNCE</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="ad_3.html"><img src="img/bad3.png" class="card-img-top" alt="..."></a>
          <div class="card-body"> 
            <h5 class="card-title">Forum Low
              Bad Bunny</h5>
            <p class="card-text">$600.000<br>Las Adidas Forum Low Bad Bunny Pink Easter Egg son unas zapatillas deportivas diseñadas en colaboración con el artista urbano Bad Bunny. Estas zapatillas presentan un estilo único y llamativo con un color rosa intenso y detalles en tonos pastel...</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="ad_4.html"><img src="img/courtsmash.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Adidas Courtsmash</h5>
            <p class="card-text">$44.990<br>Estas zapatillas tienen un diseño ligero perfecto para devolver saques complicados. Diseñadas para tenistas aficionados, incorporan un exterior de cuero sintético resistente al desgaste.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>

      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4" style="position:relative; top:150px; "> 
      <div class="col">
        <div class="card h-100">
          <a href="pu_1.html"><img src="img/puma Rs 1.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Puma RS x3 Level up</h5>
            <p class="card-text">$36.990<br>Es una zapatilla ligera que proporciona un alto rebote en cada una de vuestras rutinas. Presenta un sistema de sujeción trenzada para mayor ajuste</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="pu_2.html"><img src="img/Slipstream puma.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Puma slipstream</h5>
            <p class="card-text">$89.990<br>Estas zapatillas Slipstream Lo de la segunda temporada de la colección PUMA x AMI están guiadas por la visión creativa de la marca parisina.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="pu_3.html"><img src="img/future rider mujer 2" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Puma future rider chroma mujer</h5>
            <p class="card-text">$89.990<br>Vuelve a pensar en tu concepto de lo que es posible con nuestra colección Future Rider, una incorporación impactante a nuestra familia de zapatillas Rider que se inspira en la tecnología.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="pu_4.html"><img src="img/back to school 4444.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title"> Puma back to school</h5>
            <p class="card-text">$99.990<br>Las zapatillas back to school 2020 son un calzado deportivo de estilo clásico, diseñadas para un uso casual y urbano.Presentan un diseño elegante y moderno, con detalles retro que las hacen únicas.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Ver Más</a>
          </div>
        </div>
      </div>
    </div>


    <script src="js/bootstrap.bundle.min.js"></script>    
</body>
</html>