{% extends 'menu/test.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'menu/img/jordanicon.png' %}">
    <link rel="stylesheet" href="{% static 'menu/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/fontello.css' %}">
    
    <title>Producto</title>
</head>
{% block content %}
<body>
         <!-- menu -->
         <nav class="navbar navbar-expand-md navbar-light  fixed-top">
          <div class="container container-color sm-12 md-12 lg-6 xl-6 ">
            <a href="{% url 'test'%}" style="color: rgb(173, 6, 6);" class="navbar-brand"><span >TOP<img src="{% static 'menu/img/iconozapa.png' %}" height="20px" width="20px" alt=""></span><h5 class="h5-fo1">SNEAKERS</h5>
                    
                   
            </a>
            
            <button class="navbar-toggler " 
             data-bs-toggle="collapse" 
             data-bs-target="#mainNav" 
             aria-controls="mainNav"
             aria-expanded="false" 
             aria-label="toggle navigation">
                    <span style="color: rgb(173, 6, 6);" class="icon-menu "></span>
            </button>
           <div class="collapse navbar-collapse " id="mainNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0 "style="position: relative;">
                            <li >
                                    
                                    <div class="buscar">
                                            <input type="text" placeholder="Buscar" required />
                                      
                                            <div class="btn btn-1">
                                              <i  class="fas fa-search icon-search "></i>
                                            </div>
                                    </div>                  
                            </li>
                            <li>
                                    <div>
                                            
                                            <a href="{% url 'carrito'%}" class="nav-link a1 " ><img src="{% static 'menu/img/carrito.png' %}" alt="carrito" height="15px" width="20px"></i></a>
                                        
                                    </div>
                           </li> 
                            <li >
                                     <a href="{% url 'test'%}" class="nav-link a1">INICIO</a>
                            </li>
                            <li >
                                    <a href="{% url 'productos'%}" class="nav-link a1">PRODUCTOS</a>
                                    
                           </li>
                           <li >
                                     <a href="{% url 'contactanos'%}" class="nav-link a1">CONTACTO</a>
                                            
                            </li> 
                            <li >
                                    <a href="{% url 'sobrenosotros'%}" class="nav-link a1">SOBRE NOSOTROS</a>
                           </li>  
                                      
                           <li>             
                                    <div>
                                          <a href="{% url 'perfil'%}" class="nav-link a1">CUENTA</a>  
                                    </div>
                           </li>  
                    </ul>
          
         
            </div>
          </div>
    </nav>
    <!-- menu -->
    <!-- MARCAS-->      
    <div  class="container-fluid sm-12 md-12 lg-6 xl-6">

      <div  class="row">
        <div class="col-sm-4 img"  >
          <a href="{%  url 'nikesnea'%}"><img src="{% static 'menu/img/nike-log.jpg' %}" alt="" ></a>
          <p>a</p>
        </div>
        <div class="col-sm-4 img "   >
           <a href="{% url 'adidassnea'%}"><img src="{% static 'menu/img/adidas-log.jpg' %}" alt=""  ></a>
          <p></p>
        </div>
        <div class="col-sm-4 img ">
          <a href="{% url 'pumasnea'%}"><img src="{% static 'menu/img/puma-log.png' %}" alt="" ></a> 
          <p></p>
        </div>
      </div>
  
    </div>
    {%for Producto in productos %}
    </div>
    <div class="container-fluid dist">
    <div class="row row-cols-1 row-cols-md-4 g-4" style="position:relative; top:150px; "> 
      <div class="col sm-12 md-3 lg-3 xl-3">
        <div class="card h-100">
         <a href="{% url 'airforce'%}"> <img src="{{producto.imagen.url}}" class="card-img-top" alt="..."> </a>
          <div class="card-body">
            <h5 class="card-title"id-data="1">{{producto.nombre}}</h5>
            <p class="card-text" id="price">126.990</p>
            <p class="card-text" >El fulgor vive en el Nike Air Force 1 07, el modelo original de básquetbol que da un toque novedoso a las características más recordadas: revestimientos con costuras duraderas, acabados impecables.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1" id="btn-add">Agregar al Carrito</a>
          </div>
        </div>
      </div>
      {% endfor %}


      </div>
    </div>
  </div>
  <div class="container-fluid dist">
    <div class="row row-cols-1 row-cols-md-4 row-cols-md-4 g-4" style="position:relative; top:150px; "> 
      <div class="col sm-12 md-3 lg-3 xl-3">
        <div class="card h-100">
          <a href="{% url 'ad_1'%}"><img src="{% static 'menu/img/adidas court alpha.png'%}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Adidas Court Alpha</h5>
            <p class="card-text">$67.990<br>Estas zapatillas de la marca adidas son una respuesta clásica para el futuro, inspiradas en el tenis y diseñadas para envolver tus pies en una silueta clásica. Son ideales para explorar tu propia individualidad.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Agregar al Carrito</a>
          </div>
        </div>
      </div>
      <div class="col sm-12 md-3 lg-3 xl-3">
        <div class="card h-100">
          <a href="{% url 'ad_2'%}"><img src="{% static 'menu/img/adidas edge lux 2.jpg'%}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Adidas edge lux 2</h5>
            <p class="card-text">$69.990<br>Consigue tus objetivos marcados con un diseño cómodo y flexible. Esta zapatilla de running se ha confeccionado con una horma específica para mujer que se adapta a tu pisada, incorpora la tecnología BOUNCE</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Agregar al Carrito</a>
          </div>
        </div>
      </div>
      <div class="col sm-12 md-3 lg-3 xl-3">
        <div class="card h-100">
          <a href="{% url 'ad_3'%}"><img src="{% static 'menu/img/bad3.png'%}" class="card-img-top" alt="..."></a>
          <div class="card-body"> 
            <h5 class="card-title">Forum Low
              Bad Bunny</h5>
            <p class="card-text">$600.000<br>Las Adidas Forum Low Bad Bunny Pink Easter Egg son unas zapatillas deportivas diseñadas en colaboración con el artista urbano Bad Bunny. Estas zapatillas presentan un estilo único y llamativo con un color rosa intenso y detalles en tonos pastel...</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Agregar al Carrito</a>
          </div>
        </div>
      </div>
      <div class="col sm-12 md-3 lg-3 xl-3 ">
        <div class="card h-100">
          <a href="{% url 'ad_4'%}"><img src="{% static 'menu/img/courtsmash.png'%}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Adidas Courtsmash</h5>
            <p class="card-text">$44.990<br>Estas zapatillas tienen un diseño ligero perfecto para devolver saques complicados. Diseñadas para tenistas aficionados, incorporan un exterior de cuero sintético resistente al desgaste.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Agregar al Carrito</a>
          </div>
        </div>

      </div>
    </div>
  </div>
    <div class="container-fluid dist">
    <div class="row row-cols-1 row-cols-md-4  g-4" style="position:relative; top:150px; "> 
      <div class="col sm-12 md-3 lg-3 xl-3">
        <div class="card h-100">
          <a href="{% url 'pu_1'%}"><img src="{% static 'menu/img/puma Rs 1.png'%}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Puma RS x3 Level up</h5>
            <p class="card-text">$36.990<br>Es una zapatilla ligera que proporciona un alto rebote en cada una de vuestras rutinas. Presenta un sistema de sujeción trenzada para mayor ajuste</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Agregar al Carrito</a>
          </div>
        </div>
      </div>
      <div class="col sm-12 md-3 lg-3 xl-3">
        <div class="card h-100">
          <a href="{% url 'pu_2'%}"><img src="{% static 'menu/img/Slipstream puma.png'%}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Puma slipstream</h5>
            <p class="card-text">$89.990<br>Estas zapatillas Slipstream Lo de la segunda temporada de la colección PUMA x AMI están guiadas por la visión creativa de la marca parisina.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Agregar al Carrito</a>
          </div>
        </div>
      </div>
      <div class="col sm-12 md-3 lg-3 xl-3">
        <div class="card h-100">
          <a href="{% url 'pu_3'%}"><img src="{% static 'menu/img/future rider 2.PNG'%}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Puma future rider chroma mujer</h5>
            <p class="card-text">$89.990<br>Vuelve a pensar en tu concepto de lo que es posible con nuestra colección Future Rider, una incorporación impactante a nuestra familia de zapatillas Rider que se inspira en la tecnología.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Agregar al Carrito</a>
          </div>
        </div>
      </div>
      <div class="col sm-12 md-3 lg-3 xl-3">
        <div class="card h-100">
          <a href="{% url 'pu_4'%}"><img src="{% static 'menu/img/back to school 4444.png'%}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title"> Puma back to school</h5>
            <p class="card-text">$99.990<br>Las zapatillas back to school 2020 son un calzado deportivo de estilo clásico, diseñadas para un uso casual y urbano.Presentan un diseño elegante y moderno, con detalles retro que las hacen únicas.</p>
            <a href="#"class="btn btn-primary mt-3 btn-color1">Agregar al Carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}


    <footer class=" text-md-start">
                
      <div class="container-fluid p-4 cont-foot sm-12 md-12 lg-6 xl-6 ">
        
        <div class="row">
          
          <div class="col-sm-12 md-12 lg-6 xl-6 mb-4 mb-md-0 colorin">
            <h3 style="font-family: 'Courier New', Courier, monospace;" class="text-center">Gracias por ver</h3>
    
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >
              MENSAJES DE LOS CREADORES:
              <br>
              SIGAN EN TWITCH :
              <a href="https://www.twitch.tv/arohbknight"> AROHBKNIGHT</a>
              <br>
              CRISTOBAL: Xd
              <br>
              SEBA: Borrenme el lol porfavor
            </p>
          
          
      </div>
    
      
      <div class="text-center p-3" style="border: 2px solid rgb(173, 6, 6);background-color: rgb(177, 177,177 );" >
        © 2023 Copyright :
        <br>
        <a href="{% url 'test'%}" style="color: rgb(173, 6, 6);" class="navbar-brand"><span >TOP<img src="{% static 'menu/img/iconozapa.png'%}" height="20px" width="20px" alt=""></span><h5 class="h5-fo1">SNEAKERS</h5>
              
             
        </a>
      </div>
      </div>
       
      </div>   
</footer> 
<script src="{% static 'menu/js/bootstrap.bundle.min.js' %}"></script>
      
</body>
</html>