{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}pumaslip{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/slipstream 1.png'%}" class="d-block w-100" alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/Slipstream puma.png'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/slipstream 2.png'%}" class="d-block w-100" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Puma Slipstream</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$89.990</h3>{% endblock %}
{% block desczapa %}<h4>Estas zapatillas Slipstream Lo de la segunda temporada de la colección PUMA x AMI están guiadas por la visión creativa de la marca parisina.
</h4>{% endblock %}
{% block cantzapa %}<p>Stock:5</p>{% endblock %}