{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}pumafuture{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/future rider 1.PNG'%}" class="d-block w-100" alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/future rider 2.PNG'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/future rider 3.PNG'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Puma future rider chroma mujer</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$89.990</h3>{% endblock %}
{% block desczapa %}<h4>Vuelve a pensar en tu concepto de lo que es posible con nuestra colección Future Rider, una incorporación impactante a nuestra familia de zapatillas Rider que se inspira en la tecnología.</h4>{% endblock %}
{% block cantzapa %}<p>Stock:10</p>{% endblock %}