{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%}pumaback{% endblock %}
{% block foto1 %}<img src="{% static 'menu/img/back to school 333.png'%}" class="d-block w-100" alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/back to schol2222.png'%}" class="d-block w-100 " alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/back to school 4444.png'%}" class="d-block w-100" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Puma back to school</h3>{% endblock %}
{% block preciozapa %}<h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$89.990</h3>{% endblock %}
{% block desczapa %}<h4>Las zapatillas Puma back to school son un calzado deportivo de estilo clásico, diseñadas para un uso casual y urbano.Presentan un diseño elegante y moderno, con detalles retro que las hacen únicas.</h4>{% endblock %}
{% block cantzapa %}<p>Stock:10</p>{% endblock %}