{% extends 'menu/plant_admin.html'%}
{% load static %}
{% block titulo %}sobrenosostros {% endblock %}
{% block relleno %}
    <!-- menu -->
      <div class="container w-75 bg-light mt-5 rounded shadow rounded-end p-5" style="position:relative; top:70px;"
      >
        <div class="row align-items-stretch">
          
            <div class="text-end" >
               
            </div>

            </div>
    
            <div class="d-flex  justify-content-center my-n2">
   
               <img src="{% static 'menu/img/logo.png'%}" class="img-fluid my-n1" style="position:relative; top:-50px;" alt="" width="250">
             </div>
            <h1 class="fw-bold text-center py-n5" style="position:relative; top:-50px;"> Sobre nosotros </h1>
             <h2>Top Sneakers</h2>
             <p>Bienvenidos a TopSneakers, una tienda en línea especializada en la venda de las mejores marcas de zapatillas
                deportivas como Nike, Jordan y Adidas. En TopSneakers, nos apasiona el deporte y la moda, y creemos que ambas
                pueden ir de la mano. <br> <br>
                Nuestro objetivo es ofrecer a nuestros clientes la mejor selección de zapatillas de alta calidad, desde las últimas
                tendencias hasta los clásicos atemporales. Nos esforzamos por brindar un servicio excepcional y una experiencia de comprar
                sin problemas, desde el momento en que visitas nuestro sitio web hasta que recibes tu pedido. <br><br>
                En TopSneakers, nos enorgullece ser un lugar donde los fanáticos de las zapatillas pueden encontrar lo que buscan, independientemente
                de su estilo o presupuesto. Ya sea que seas un coleccionista ávido o simplemente estés buscando un par de zapatillas cómodas para el uso
                diario, estamos aquí para ayudarte. <br><br>
                Gracias por visitar TopSneakers. ¡Esperamos que encuentres exactamente lo que estás buscando!
             </p>
   
           </div>

        </div>
      </div>
      {% endblock %}
      
          