{% extends 'menu/plant_zapa.html'%}
{% load static %}

{% block titulo%} stayloyal {% endblock %}
{% block foto1 %} <img src="{% static 'menu/img/stay loyal 2.png'%}" class="d-block w-100 img1" alt="foto1">{% endblock %}
{% block foto2 %}<img src="{% static 'menu/img/satyloal2.png'%}" class="d-block w-100 img1" alt="foto2">{% endblock %}
{% block foto3 %}<img src="{% static 'menu/img/wit.png'%}" class="d-block w-100 img1" alt="foto3">{% endblock %}
{% block nombrezapa %}<h3 style="font-family: 'Courier New', Courier, monospace;color: rgb(0, 0, 0);">Jordan stay loyal 2
</h3>{% endblock %}
{% block preciozapa %} <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);">$132.900</p>{% endblock %}
{% block desczapa %} <h4> <br>
    Inspirado en generaciones de Jordan, este calzado es un collage de frescura. Los detalles de diseño recuperan décadas de calzado legendarias y rinden homenaje a la mítica carrera de MJ.</h4>    
    </h4>{% endblock %}
    {% block cantzapa %} <p>Stock:5 </p>{% endblock %}
